.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_pai__label { }
.css_pai__line {text-align:left;}
.css_pai__obj {text-align:left;}
.css_icone__label { }
.css_icone__line { }
.css_icone__obj { }
.css_descricao__label { }
.css_descricao__line { }
.css_descricao__obj { }
.css_link__label { }
.css_link__line { }
.css_link__obj { }
.css_ordenacao__label {text-align:;}
.css_ordenacao__line {text-align:left;}
.css_ordenacao__obj {text-align:left;}
.css_sc_field_0__label { }
.css_sc_field_0__line { }
.css_sc_field_0__obj { }
.css_curso__label { }
.css_curso__line {text-align:left;}
.css_curso__obj {text-align:left;}
