.css_curso_label, .css_curso_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_curso_grid_line, .css_curso_grid_line:hover {text-align: center;}
.css_modulo_label, .css_modulo_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_modulo_grid_line, .css_modulo_grid_line:hover {text-align: center;}
.css_aula_label, .css_aula_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_aula_grid_line, .css_aula_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_conteudo_label, .css_conteudo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_conteudo_grid_line, .css_conteudo_grid_line:hover {vertical-align: top;text-align: left;}
