.css_id_det_label, .css_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: right;}
.css_pai_det_label, .css_pai_det_label:hover {text-align: right;vertical-align: middle;}
.css_pai_det_line, .css_pai_det_line:hover {height:0px;text-align: right;}
.css_icone_det_label, .css_icone_det_label:hover {text-align: right;vertical-align: middle;}
.css_icone_det_line, .css_icone_det_line:hover {height:0px;text-align: right;}
.css_descricao_det_label, .css_descricao_det_label:hover {text-align: right;vertical-align: middle;}
.css_descricao_det_line, .css_descricao_det_line:hover {height:0px;text-align: right;}
.css_link_det_label, .css_link_det_label:hover {text-align: right;vertical-align: middle;}
.css_link_det_line, .css_link_det_line:hover {height:0px;text-align: right;}
.css_ordenacao_det_label, .css_ordenacao_det_label:hover {text-align: right;vertical-align: middle;}
.css_ordenacao_det_line, .css_ordenacao_det_line:hover {height:0px;text-align: right;}
.css_sc_field_0_det_label, .css_sc_field_0_det_label:hover {text-align: right;vertical-align: middle;}
.css_sc_field_0_det_line, .css_sc_field_0_det_line:hover {height:0px;text-align: right;}
.css_planoeconomico_det_label, .css_planoeconomico_det_label:hover {text-align: right;vertical-align: middle;}
.css_planoeconomico_det_line, .css_planoeconomico_det_line:hover {height:0px;text-align: right;}
.css_planostandart_det_label, .css_planostandart_det_label:hover {text-align: right;vertical-align: middle;}
.css_planostandart_det_line, .css_planostandart_det_line:hover {height:0px;text-align: right;}
.css_planopremium_det_label, .css_planopremium_det_label:hover {text-align: right;vertical-align: middle;}
.css_planopremium_det_line, .css_planopremium_det_line:hover {height:0px;text-align: right;}
