.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_ordenacao_label { }
.css_ordenacao_line {text-align:left;}
.css_ordenacao_obj {text-align:left;}
.css_modulo_label { }
.css_modulo_line {text-align:left;}
.css_modulo_obj {text-align:left;}
.css_topico_label { }
.css_topico_line { }
.css_topico_obj { }
